*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

body {
  text-align: center; }

.main__container {
  width: 100vw;
  height: 70vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center; }

#title__list {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-decoration: underline; }

ul {
  list-style: none; }

li {
  font-size: 20px;
  margin-bottom: 0.5rem; }

#total__compra {
  display: flex;
  justify-content: center; }

p {
  margin-top: 1.5rem;
  font-size: 1.5em;
  border: 2px solid black; }
